grant {
  // Required to set up slf4j SPI properly.
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "setContextClassLoader";

  // Required to scan user home for licenses.
  permission java.io.FilePermission "${user.home}${/}*", "read";
  permission java.io.FilePermission "${user.home}", "read";
};
